/* YourComponent.scss */

.item {
    position: relative;
  }
  
  .avatar-dropdown {
    cursor: pointer;
  }
  
  .avatar-dropdown img {
    border-radius: 50%;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #5e35b1; /* Dark purple background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff; /* White text */
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #9c4dcc; /* Light purple on hover */
  }
  